<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Fox Kanban</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/logo.svg" width="112" height="28" />
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Home
                </a>
            </div>
        </div>
    </nav>
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered">Add Task</h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container form-container">
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" />
                </div>
            </div>

            <div class="field">
                <label class="label">Priority</label>
                <div class="control">
                    <input class="input" type="number" />
                </div>
            </div>

            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <input class="input" type="text" />
                </div>
            </div>

            <div class="field">
                <label class="label">Deadline</label>
                <div class="control">
                    <input class="input" type="date" />
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Save</button>
                </div>
            </div>
        </div>
    </section>
</body>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</html>