<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Fox Kanban</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/logo.svg" width="112" height="28" />
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Add task
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light">
                            <span class="icon">
                                <i class="fas fa-user"></i>
                            </span>
                            <span>username</span>
                        </a>
                        <a class="button is-danger">
                            <span>Logout</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="container">
                        <a class="button is-info">Add task</a>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="container">
                        <h1 class="title has-text-centered">To Do</h1>
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Task A
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.
                                    <br />
                                    <p>Deadline: 11:09 PM - 1 Jan 2016</p>
                                    <p>Assigned: ...</p>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">Assign</a>
                                <a href="#" class="card-footer-item">Detail</a>
                                <a href="#" class="card-footer-item">Edit</a>
                                <a href="#" class="card-footer-item">Done</a>
                                <a href="#" class="card-footer-item --delete">Delete</a>
                            </footer>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="container">
                        <h1 class="title has-text-centered">Doing</h1>
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Task A
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.
                                    <br />
                                    <p>Deadline: 11:09 PM - 1 Jan 2016</p>
                                    <p>Assigned: ...</p>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">Assign</a>
                                <a href="#" class="card-footer-item">Detail</a>
                                <a href="#" class="card-footer-item">Edit</a>
                                <a href="#" class="card-footer-item">Done</a>
                                <a href="#" class="card-footer-item --delete">Delete</a>
                            </footer>
                        </div>
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Task A
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.
                                    <br />
                                    <p>Deadline: 11:09 PM - 1 Jan 2016</p>
                                    <p>Assigned: ...</p>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">Assign</a>
                                <a href="#" class="card-footer-item">Detail</a>
                                <a href="#" class="card-footer-item">Edit</a>
                                <a href="#" class="card-footer-item">Done</a>
                                <a href="#" class="card-footer-item --delete">Delete</a>
                            </footer>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="container">
                        <h1 class="title has-text-centered">Done</h1>
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Task A
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.
                                    <br />
                                    <p>Deadline: 11:09 PM - 1 Jan 2016</p>
                                    <p>Assigned: ...</p>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">Assign</a>
                                <a href="#" class="card-footer-item">Detail</a>
                                <a href="#" class="card-footer-item">Edit</a>
                                <a href="#" class="card-footer-item">Done</a>
                                <a href="#" class="card-footer-item --delete">Delete</a>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</html>